* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    width: 100vw;
    height: 80px;
    background: #222222;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav img {
    width: 100px;
}

#menu {
    width: 50%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(63, 45, 81, 0.493);
    color: azure;
    height: calc(100vh - 80px);
    transform: translateX(100%);
    transition: all .6s ease;
}

#menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
}


#menu ul li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#menu.menu-open {
    transform: translateX(0);
}

/* small */
@media screen and (min-width: 576px) {
    #menu {
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        /* transform: translateX(100%); */
    }

    #menu ul {
        width: 50%;
        margin: 0 auto;
        flex-direction: row;
    }

    #menu ul li {
        width: 20%;
    }

    #menuBtn {
        display: none;
    }
}

/* nav menu hamburger */
.hamb-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.line {
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}

.hamb-menu.open .line.line1 {
    transform: translateY(13px) rotate(45deg);
}

.hamb-menu.open .line.line2 {
    opacity: 0;
}

.hamb-menu.open .line.line3 {
    transform: translateY(-13px) rotate(-45deg);
}
